.benefit {
    background-color: #f3f3f3;

    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &__title {
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 26px;  
    }

    &__text br {
        display: none;
    }

    &__list {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &-text {
            margin: 0;
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__img {
        display: block;
        width: 280px;
        height: auto;
        margin: 0 auto;

        &-wrapper {
            position: relative; 

            &::before {
                content: '';
                position: absolute;
                bottom: -26px;
                left: 0;
                width: 100%;
                height: 26px;
                background-image: url("../img/content-photo/icons/effect-1.png");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

}

@media (min-width: 768px) {
    .benefit {
        &__wrapper {
            max-width: 1200px;
            padding: 80px 30px;

            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
            }

            &-left {
                width: 58%;
            }
        }

        &__title {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;
        }

        &__text br {
            display: block;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            margin-bottom: 15px;

            &-img {
                width: 100px;
                height: 100px;
                margin-bottom: 25px;
            }

            &-title {
                font-size: 24px;
                line-height: 28px;
            }

            &-text {
                font-size: 20px;
                line-height: 24px;
            }
        }

        &__img-wrapper {
            width: 40%;
        }

        &__img {
            width: 100%;
        }
    }
}

@media (min-width: 1200px) {
    .benefit {
        &__wrapper {
            max-width: 1440px;
            padding: 80px 110px;
            padding-bottom: 100px;
        }

        &__text {
            font-size: 28px;
            line-height: normal;
        }

        &__list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__item {
            &-img {
                width: 80px;
                height: 80px;
            }

            &-text {
                font-size: 22px;
                line-height: normal;
            }

            &::marker {
                font-size: 22px;
            }
        }
    }
}