.benefit {
    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &__title {
        margin: 0;
        font-family: @second-font;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 26px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 50px;
        color: #ffffff;
    }

    &__item {
        padding: 20px 10px;
        margin-bottom: 10px;
        border-radius: 5px;

        &-img {
            display: block;
            margin-bottom: 15px;
            width: 64px;
            height: 64px;
        }

        &-title {
            margin: 0;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 10px;
        }

        &-text {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(1),
        &:nth-child(4) {
            background-color: @bg-color-main;
        }

        &:nth-child(2),
        &:nth-child(3) {
            background-color: @bg-color-third;
        }
    }

}

@media (min-width: 768px) {
    .benefit {
        &__wrapper {
            max-width: 1200px;
            padding: 40px 30px;
            padding-bottom: 80px;
        }

        &__title {
            font-size: 48px;
            line-height: 48px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__item {
            padding: 30px 20px;
            margin-bottom: 0;

            &-img {
                width: 100px;
                height: 100px;
                margin-bottom: 25px;
            }

            &-title {
                font-size: 24px;
                line-height: 28px;
            }

            &-text {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .benefit {
        &__wrapper {
            max-width: 1440px;
            padding: 40px 110px;
            padding-bottom: 100px;
        }

        &__list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__item {
            &-img {
                width: 80px;
                height: 80px;
            }
        }
    }
}