.instruction {
    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 26px;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__video {
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        position: relative;
        margin-bottom: 40px;
        text-align: center;
        font-size: 16px;
        line-height: normal;

        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                bottom: -35px;
                left: calc(50% - 15px);
                width: 30px;
                height: 30px;
                rotate: -90deg;
                background-image: url("../img/content-photo/icons/arrow-first.svg");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__text {
        text-align: center;
        font-size: 16px;
        line-height: normal;
        margin: 0;
    }


}

@media (min-width: 768px) {
    .instruction {
        &__wrapper {
            max-width: 1200px;
            padding: 80px 30px;
        }

        &__title {
            font-size: 48px;
            line-height: 48px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;   
        }

        &__button {
            font-size: 18px;
            line-height: 24px;
            padding: 14px 80px;
        }

    }
}

@media (min-width: 1200px) {
    .instruction {
        &__wrapper {
            max-width: 1440px;
            padding: 100px 110px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }

        &__title {
            margin: 0;
            grid-column: 1 / 2;
        }

        &__text {
            margin: 0;
            grid-column: 1 / 2;
        }

        &__button {
            grid-column: 1 / 2;
            margin-top: 0;
            width: 220px;
            height: 55px;
        }

        &__video {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
        }
    }
}