.main-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    padding-top: 83px;
}

@media (min-width: 768px) {
    .main-container {
        padding-top: 106px;

        &__section-wrapper {
            display: grid;
            max-width: 900px;
            grid-template-columns: 1fr 1fr;
            box-sizing: border-box;
            padding: 70px 30px;
            margin: 0 auto;
        }
    }
}


@media (min-width: 1200px) {
    .main-container {
        padding-top: 126px;

        &__section-wrapper {
            max-width: 1440px;
            padding: 120px 110px;
            margin: 0 auto;
        }

        &__wrapper-section {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}