.main-container {
    width: 100%;
    flex-grow: 1;
}


@media (min-width: 1200px) {
    .main-container {
        &__wrapper-section {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}