.offer {
    &__bg-image {
        display: block;
        width: 100%;
        height: auto;

        &--second {
            display: none;
        }
    }

    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    &__column-right {
        display: grid;
        grid-template-columns: 1fr 50px;
        column-gap: 20px;
        margin-top: 20px;

        &-wrapper-sale {
            display: flex;
        }

        &-title {
            margin: 0;
            margin-bottom: 5px;
        }

        &-title br{
            display: none;
        }


        &-sale {
            margin: 0;
            font-size: 20px;
            line-height: 28px;
        }

        &-description {
            margin: 0;
        }
    }

    &__title {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 25px;

        &--red {
            color: #A81919;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: @second-font;
        width: 160px;
        height: 42px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-color: @bg-color-fifth;
            color: black;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media (min-width: 768px) {
    .offer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            padding: 20px 30px;
            padding-top: 70px;
            padding-bottom: 30px;
        }

        &__column-left {
            width: 350px;
        }

        &__title {
            width: 350px;
            font-size: 60px;
            line-height: 60px;
        }

        &__button {
            width: 240px;
            min-height: 50px;
            font-size: 18px;
            line-height: 24px;
        }

        &__column-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-title {
                display: block;
                margin: 0;
                font-size: 30px;
                line-height: 42px;
                text-align: center;
                margin-bottom: 10px;

                &--second {
                    color: @color-second;
                }
            }

            &-sale {
                margin: 0;
                font-size: 70px;
                line-height: 70px;
                background-color: #2AA5A0;
                background-image: linear-gradient(90deg, #E3535D, #1877f2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: linear-gradient(to right, #F6EFD2, #CEAD78);
                margin-bottom: 20px;
            }

            &-description {
                margin: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .offer {
        &__wrapper {
            max-width: 1440px;
            padding: 40px 110px;
            padding-bottom: 0;
            padding-top: 50px;
            justify-content: space-around;
        }
    }
}