// Слайдер
.image-slider {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__wrapper-item {
        display: flex;
        flex-direction: column;
        
        &--news {
            min-height: 130px;
            justify-content: center;
        }
    }

    &__text {
        margin: 0;
        font-size: 16px;
        text-align: center;
    }

    &__title {
        margin: 0;
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        &--news {
            font-size: 20px;
            margin-bottom: 10px;

            &-second {
                color: @bg-color-main;
            }
        }
    }
}

.image-slider .image-slider {
    &__slide {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        padding-bottom: 50px;
        padding-top: 30px;
        box-sizing: border-box;

        &--news {
            padding: 0 30px;
            padding-bottom: 30px;
            background: linear-gradient(85deg, #ffd885,#ffcd61,#ffc547);
        }
    }
}

.image-slider .swiper {
    &-button-prev,
    &-button-next {
        z-index: 4;
        --swiper-navigation-size: 30px;
    }

    &-pagination {
        z-index: 4;
    }

    &-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}


@media (min-width: 768px) {
    .image-slider .image-slider {
        &__slide {
            padding: 50px;
            padding-bottom: 60px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;
        }

        &__title {
            font-size: 28px;
            line-height: 28px;
        }
    }

    .image-slider .swiper {
        &-pagination-bullet {
            width: 15px;
            height: 15px;
        }
    }
}



@media (min-width: 1200px) {
    .image-slider .image-slider {
        &__slide {
            padding: 50px;
            padding-bottom: 60px;

            &--news {
                min-height: 300px;
            }
        }
    }
}