// Fonts
@main-font: "Arial", "Helvetica", sans-serif;
@second-font: 'Oswald';

// Цвет бэк
@bg-color-main: #1877f2;
@bg-color-second: #f0f2f5;
@bg-color-third: #1C1C1C;
@bg-color-fourth: #e8e8e8;

// Цвет шрифта
@color-main: #1877f2;

