// Fonts
@main-font: montserrat, sans-serif;
@second-font: Arial, Helvetica, sans-serif;

// Цвет бэк
@bg-color-main: #1877f2;
@bg-color-second: #f3f3f3;
@bg-color-third: #1C1C1C;
@bg-color-fifth: #FFDE5F;

// Цвет шрифта
@color-main: #1877f2;
@color-second: #70b2f5;